.journal__main-content {
    display: flex;
    z-index: 999;
}
  
.journal__sidebar {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.wallpaperscraft.com/image/laptop_mug_garland_151742_1920x1080.jpg'),
    ;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
}

.journal__sidebar-navbar h3 {
    font-weight: lighter;
}
.journal__content{
    z-index: 999;
}

.journal__new-entry {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    transition: color .3s ease;

    &:hover {
        color: darken($color: white, $amount: 20);
    }
    
}

.journal__entries {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(241, 237, 237, 0.986); 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
    }
}

.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: black;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    justify-content: space-between;
}



.journal__entry-pictures {
    height: 75px;
    width: 75px;
}


.journal__entry-body {
    padding: 10px;
  
   
}

.journal__entry-title {
    font-size: 14px;
    font-weight: 500;
   
}

.journal__entry-content {
    font-size: 10px;
}

.journal__entry-date {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    
}

.journal__entry-date span{
    font-size: 10px;
}
